/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* styles.css */

/* Body styling */
body {
  background-color: #f4f7fc;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Container Styling */
.container {
  margin-top: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

/* Header */
h2 {
  font-size: 28px;
  color: #444;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

/* Table styling */
.table {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.table th {
  background-color: #007bff;
  color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

/* Button styling */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  width: 100%;
  font-weight: bold;
  margin-bottom: 10px;
}

form input,
form select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form input:focus,
form select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.alert {
  color: green;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}